@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "'Open Sans', sans-serif";
  font-style: normal;
  src:
    local("OpenSans-Regular"),
    url(/src/assets/font/OpenSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "'October Crow', sans-serif";
  font-style: normal;
  src:
    local("October"),
    url(/src/assets/font/October\ Crow.ttf) format("truetype");
}
